---
import {Icon} from "astro-icon/components"
import { t } from "i18next";

// LISTA DE Features en soluciones

const featuresList = [
  {
    title: "Landing Pages",
    description: t("features.options.landingPage.description"),
    link: "/soluciones/landing-pages",
    icon: "font"
  },
  {
    title: t("features.options.onlineStore.title"),
    description:
    t("features.options.onlineStore.description"),
    link: "/soluciones/tienda-online",
    icon: "store"
  },
  {
    title: t("features.options.corporate.title"),
    description:
    t("features.options.corporate.description"),
    link: "/soluciones/corporativa",
    icon: "briefcase"
  },
  {
    title: "Blog",
    description:t("features.options.blog.description"),
    link: "/soluciones/blogs",
    icon: "close-book"
  },
  {
    title: t("features.options.portfolio.title"),
    description: t("features.options.portfolio.description"),
      link: "/soluciones/portafolios",
      icon: "open-book"
  },
  {
    title: "Newsletters",
    description: t("features.options.newsletters.description"),
    link: "/soluciones/newsletters",
    icon: "font"
  },
];
---

<div class="dark:bg-slate-800 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 dark:text-white text-gray-900">
         {t("features.title")}</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-orange-600 sm:text-4xl">{t("features.description")}</p>
        <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-white">
          {t("features.impact.description")}
        </p>
      </div>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
      
            {
              featuresList.map((item) => (
              <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-orange-600">
                  {item.title}

                  <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-orange-400 hover:opacity-70">
                      <Icon class="text-white" name={item.icon} />
                  </div>
            
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600 dark:text-white">
                  {item.description}
                </dd>
              </div>
              ))
            }
       
        </dl>
      </div>
    </div>
  </div>
  