---
import {Icon} from "astro-icon/components"


// LISTA DE Features en soluciones

export const featuresList = [
  {
    title: "Landing Pages",
    description:
      "Página de destino diseñada para captar la atención de los visitantes y convertirlos en clientes, perfecta para campañas y promociones.",
    link: "/soluciones/landing-pages",
    icon: "font"
  },
  {
    title: "Tienda Online",
    description:
      "Plataforma de comercio electrónico que permite a los clientes comprar productos o servicios, con opciones integradas de pago.",
    link: "/soluciones/tienda-online",
    icon: "store"
  },
  {
    title: "Corporativa",
    description:
      "Sitio web profesional que refleja la identidad y valores de tu empresa, ideal para comunicar misión y servicios con una presencia sólida.",
    link: "/soluciones/corporativa",
    icon: "briefcase"
  },
  {
    title: "Blog",
    description:
      "Espacio dinámico para compartir artículos, noticias y contenido relevante, diseñado para atraer y mantener el interés de tu audiencia.",
    link: "/soluciones/blogs",
    icon: "close-book"
  },
  {
    title: "Portafolios",
    description:
      "Vitrina en línea para mostrar tu trabajo, proyectos o creatividad, destacando tus habilidades y atrayendo nuevas oportunidades.",
      link: "/soluciones/portafolios",
      icon: "open-book"
  },
  {
    title: "Newsletters",
    description:
      "Herramienta para crear y distribuir boletines informativos desde tu sitio web, manteniendo a tu audiencia informada y conectada.",
    link: "/soluciones/newsletters",
    icon: "font"
  },
];
---

<div class="dark:bg-slate-800 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base font-semibold leading-7 dark:text-white text-gray-900">
          Nuestras Soluciones</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-orange-600 sm:text-4xl">Explora las soluciones diseñadas especialmente para ti. </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Estamos creando un impacto positivo juntos. Reconocemos el valor de tu trabajo y te ayudamos a potenciarlo en línea con estrategias SEO efectivas.
        </p>
      </div>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
      
            {
              featuresList.map((item) => (
              <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  {item.title}

                  <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-orange-400 hover:opacity-70">
                      <Icon class="text-white" name={item.icon} />
                  </div>
            
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                {item.description}
                </dd>
              </div>
              ))
            }
       
        </dl>
      </div>
    </div>
  </div>
  