---
import { Icon } from "astro-icon/components";
import { t } from "i18next";
import { localizePath } from "astro-i18next"

---

<div class="dark:bg-slate-800  mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-12 pt-40 text-center sm:pt-64 overflow-x-hidden">
   
    <h1 class="mx-auto max-w-4xl font-heading text-4xl font-medium tracking-tight dark:text-white text-slate-900 sm:text-6xl">
      {t("home.hero-title")}
        <span class="relative whitespace-nowrap text-orange-600">
           <Icon class="absolute left-0 top-2/3 h-[0.58em] w-full fill-orange-300/70" name="flecha" />
        <span class="relative text-gradient_indigo-purple">      {t("home.hero-span.01")}</span></span>
        <!-- -->{t("home.hero-span.02")}
    </h1>
    <p class="mx-auto mt-6 max-w-2xl text-lg tracking-tight text-slate-700 dark:text-white motion-preset-slide-left"
    >
    {t("home.hero-subtitle")}
    </p>
    <div class="mt-10 flex justify-center gap-x-6">
        <a class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-orange-500 text-white dark:hover:bg-white dark:hover:text-orange-500 hover:bg-slate-700 hover:text-slate-100 active:bg-slate-800 active:text-slate-300 focus-visible:outline-slate-900 motion-preset-fade motion-duration-1500"
          href={localizePath("/soluciones")}>
          {t("home.hero-button.01")}
        </a>
          <a class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-slate-200 text-slate-700 dark:text-white hover:text-slate-900 hover:ring-slate-300 active:bg-slate-100 active:text-slate-600 focus-visible:outline-blue-600 focus-visible:ring-slate-300 motion-preset-fade motion-duration-1500"
            color="slate"
            href="https://api.whatsapp.com/send/?phone=573008124453"
            >
            <Icon name="whatsapp" />
              <span class="ml-3">{t("home.hero-button.02")}</span>
            </a>
    </div>
    
    <!--

    <div class="mt-36 lg:mt-44">
        <p class="font-display text-base text-slate-900">
            Trusted by these six companies so far
        </p>    </div>
    
    
    -->
    
</div>
