---
import Layout from "../layouts/Layout.astro";

const {title, description} = Astro.props;
---

<Layout title="Nosotros" description={description}>
    <section class="dark:bg-slate-800">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-40">
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div class="lg:py-24">
              <p class="mt-2 text-3xl font-bold tracking-tight text-orange-600 sm:text-4xl">Quienes Somos</p>
              <p class="mt-6 text-lg leading-8 dark:text-white text-gray-600">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus aspernatur laborum fugiat quo. Quod nobis sint, eius provident, mollitia nisi repellat impedit possimus suscipit iure, assumenda dolore cupiditate? Minima, temporibus!</p>
      
              <a
                href="#"
                class="mt-8 inline-block rounded bg-oran-600 px-12 py-3 text-sm font-medium text-white transition bg-orange-600 hover:bg-opacity-75 focus:outline-none "
              >
                Contactanos
              </a>
            </div>
          </div>
        </div>
      </section>
</Layout>