---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("es");

const { description } = Astro.props;
---

<Layout  title="Nosotros" description={description}>
    <section class="dark:bg-slate-800">
        <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:pt-40">
          <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1556761175-b413da4baf72?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="absolute inset-0 h-full w-full object-cover"
              />
            </div>
      
            <div class="lg:py-24">
              <p class="mt-2 text-3xl font-bold tracking-tight text-orange-600 sm:text-4xl">Quienes Somos</p>
              <p class="mt-6 text-lg leading-8 dark:text-white text-gray-600">
                Potenciamos tu experiencia online y te ayudamos a crecer. Nuestro enfoque se centra en crear una presencia digital estratégica, personalizada y efectiva, que no solo atraiga a tu audiencia, sino que también convierta visitantes en clientes fieles. 
                  
              </p>
                <div class="mt-6 text-lg leading-8 dark:text-white text-gray-600">
                  Sabemos que cada cliente es único y, por ello, diseñamos soluciones digitales adaptadas a las necesidades y metas específicas de cada proyecto.
                </div>
              <a
                href="#"
                class="mt-8 inline-block rounded bg-oran-600 px-12 py-3 text-sm font-medium text-white transition bg-orange-600 hover:bg-opacity-75 focus:outline-none "
              >
                Contactanos
              </a>
            </div>
          </div>
        </div>



        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 sm:py-12 lg:px-8">
          <div class="mx-auto">
            
            <p class="mt-6 text-lg leading-8 dark:text-white text-gray-600 ">
              Somos un equipo multidisciplinar y multicultural con pasión por la innovación y el marketing digital, comprometido con la formación continua y el uso de tecnología avanzada para brindar resultados excepcionales. Creemos en el poder de la personalización y los datos como herramientas clave para alcanzar objetivos de negocio de manera eficaz.  
              </p>
             
          </div>
      
          
        </div>



      </section>
      <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
          
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1538688423619-a81d3f23454b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl"
              />
      
              <img
                alt=""
                src="https://images.unsplash.com/photo-1574073763042-9dbe6ae03853?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl"
              />
            </div>
            <div class="bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 p-8 md:p-12 lg:px-16 lg:py-24 rounded-xl">
              <div class="mx-auto max-w-xl text-center">
                <h2 class="text-2xl font-bold text-white md:text-3xl">
                 Mision
                </h2>
      
                <p class=" text-white/90 sm:mt-4 sm:block">
                  Ofrecer soluciones de diseño web, desarrollo digital, identidad corporativa y optimización en motores de búsqueda, con un enfoque personalizado y remoto, que impulsen el crecimiento de nuestros clientes. Nos comprometemos a entender las metas y desafíos de cada empresa, adaptándonos a sus necesidades específicas para entregar resultados medibles y duraderos, aprovechando el talento joven y dedicado de nuestro equipo en Colombia.
                </p>
      
                
              </div>
            </div>
      
            
          </div>
        </div>
      </section>

      
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 sm:py-12 lg:px-8">
        <div class="mx-auto">
          
          <p class="mt-6 text-lg leading-8 dark:text-white text-gray-600 ">
            Trabajamos como una familia profesional, brindando una experiencia de servicio ágil y cercana, enfocada en la calidad constante y en la construcción de relaciones duraderas basadas en la confianza, la transparencia y el éxito tangible. La diversidad de nuestro equipo nos permite abordar los desafíos desde perspectivas globales, adaptándonos a las cambiantes dinámicas del mercado y ofreciendo siempre soluciones innovadoras y eficaces.
            </p>
           
        </div>
    
        
      </div>

      <section>
        <div class="mx-auto max-w-screen-2xl px-4 py-8 sm:px-6 lg:px-8">
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <div class="bg-gradient-to-l from-orange-400 via-orange-500 to-orange-600 p-8 md:p-12 lg:px-16 lg:py-24 rounded-xl">
              <div class="mx-auto max-w-xl text-center">
                <h2 class="text-2xl font-bold text-white md:text-3xl">
                 Vision
                </h2>
      
                <p class=" text-white/90 sm:mt-4 sm:block">
                  Ser la agencia líder en soluciones digitales remotas en Latinoamérica, reconocida por la creatividad, innovación y profesionalismo de nuestro equipo. Aspiramos a construir relaciones sólidas con nuestros clientes, destacándonos como socios estratégicos en su éxito y consolidando un estándar de calidad que trascienda fronteras.
                </p>
      
               
              </div>
            </div>
      
            <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
              <img
                alt=""
                src="https://images.unsplash.com/photo-1557804506-669a67965ba0?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl"
              />
      
              <img
                alt=""
                src="https://images.unsplash.com/photo-1577100078279-b3445eae827c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="h-40 w-full object-cover sm:h-56 md:h-full rounded-xl"
              />
            </div>
          </div>
        </div>
      </section>
    
      <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 pb-32">
        <div class="mx-auto">
          
          <p class="mt-6 text-lg leading-8 dark:text-white text-gray-600 ">
            Nos enorgullece acompañar a nuestros clientes en su camino hacia el éxito digital, construyendo una presencia que no solo sea visible, sino verdaderamente reconocida. Aquí, los límites se expanden para transformar el crecimiento de tu marca en una realidad.
            </p>
           
        </div>
    
        
      </div>


</Layout>